
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black;
}


/* Custom CSS for dark cards */
.dark-card {
    background-color: #333; /* Set the dark background color */
    color: white; /* Set text color to white for better readability */
}
